body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    color: black; /* Change color to black */
    background: white;
    border-bottom: 1px solid #fff;
    z-index: 999; 
  }
  
 .logo {
    padding: 10px 18px;
    height: 90px;
    float: left;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
  }
  
  nav ul {
    list-style: none;
    float: left;
    padding: 3px 5px;
    display: flex;
  }
  
  nav ul li a {
    line-height: 90px;
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  nav ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  nav i {
    line-height: 90px;
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    float: right;
    display: flex;
    margin-top: 10px;
  }
  .button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    opacity: 0.6;
    transition: 0.3s;
    display: flex;
    float: right;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .button:hover {
    opacity: 1;
  }


  /* Mobile Toggle */

.nav-toggle {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    cursor: pointer;
  }
  
  .nav-toggle img {
    width: 1.5rem;
    transition: 300ms all ease;
  }
  
  .nav-toggle:hover img {
    opacity: 0.6;
  }
  
  .open {
    height: 100vh;
  }
  
  .hidden {
    display: none;
  }
  
  /* Mobile */
  @media all and (max-width: 720px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 250ms height ease-in-out;
    }
  
    li {
      display: block;
      text-align: center;
      padding: 1.5rem 0;
    }
  
    li a {
      font-size: 1.4rem;
    }
  
    .nav-toggle {
      display: block;
    }
  }
  
